<table>
<tr>
<td>
  <strong>Name:</strong>
  <%= @event.name %>
</td>
<td>
  <strong>Abbv:</strong>
  <%= @event.abbv %>
</td>
</tr>
<tr>
<td>
  <strong>Calendar:</strong>
  <%= @event.calendar.name %>
</td>
<td>
  <strong>Default location:</strong>
  <%= @event.location.name %>
</td>
</tr>
<tr>
<td>
  <strong>Open Time:</strong>
  <%= @event.open_time.strftime("%I:%M %p") %>
</td>
<td>
  <strong>Close Time:</strong>
  <%= (@event.open_time+ @event.duration.minutes).strftime("%I:%M %p") %>
</td>
<td>
  <strong>Duration:</strong>
  <%= @event.duration %>
</td>
</tr>
</table>

<% if can?(:edit, @event) %><%= link_to 'Edit', edit_event_path(@event) %> |<% end %>
<%= link_to 'Back', events_path %>
