<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Abbv:</strong>
  <%= @event.abbv %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event.duration %>
</p>

<p>
  <strong>Default location:</strong>
  <%= @event.default_location %>
</p>

<% if can?(:edit, @event) %><%= link_to 'Edit', edit_event_path(@event) %> |<% end %>
<%= link_to 'Back', events_path %>
