<p id="notice"><%= notice %></p>

<p>
  <strong>Staff:</strong>
  <%= @schedule.staff %>
</p>

<p>
  <strong>User:</strong>
  <%= @schedule.user %>
</p>

<p>
  <strong>Location:</strong>
  <%= @schedule.location %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
