<!DOCTYPE html>
<html>
	<head>
		<title>Vms</title>
		<%= csrf_meta_tags %>
		
	</head>
	<body>
	   <div class="notice"><%= notice %></div>
	   <div class="alert"><%= alert %></div>
		<div id="menu">
			<%= render "layouts/menu" %>
		</div>
		<%= yield %>
	</body>
</html>