<!DOCTYPE html>
<html>
	<head>
		<title>Vms</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
		
	</head>
	<body>
		<div id="menu">
			<%= render "layouts/menu" %>
		</div>
		<%= yield %>
	</body>
</html>