<div class="authform">
  <h3>Edit </h3>
  <%= form_for(@user) do |f| %>
    <div class="form-group">
      <%= f.label :username %>
      <%= f.text_field :username, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :member_number %>
      <%= f.text_field :member_number, class: 'form-control' %>
    </div>
    <fieldset>
    <%= f.label :role, "Roles" %>
          <% for role in @roles %>
            <div>
              <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
              <%= role.desc %>
            </div>
          <% end %>
    </fieldset>
    <%= f.submit 'Update', :class => 'button right' %>
  <% end %>
</div>
