<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @staff.event %>
</p>

<p>
  <strong>Position:</strong>
  <%= @staff.position %>
</p>

<p>
  <strong>Shift:</strong>
  <%= @staff.shift %>
</p>

<p>
  <strong>Permanent user:</strong>
  <%= @staff.permanent_user %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
