<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @shift.start %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @shift.duration %>
</p>

<%= link_to 'Edit', edit_shift_path(@shift) %> |
<%= link_to 'Back', shifts_path %>
